* {
    box-sizing: border-box;
}

input {
    display: block;
    height: 50px;
    border-radius: 7px;
    width: 95%;
    max-width: 500px;
    border: 2px solid #ddd;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.gallery {
    margin: auto;
    max-width: 860px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}

a {
    display: flex;
    flex-direction: row;
}

img {
    margin: auto;
}

